.hero-section {
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
}

.hero-section .lead {
    font-size: 1.5rem;
    color: #ddd;
    margin-bottom: 30px;
}

.hero-section .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index:1000;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: #fff;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

.feature-heading-wrapper {
    position: relative;
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .feature-heading {
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    z-index: 2;
    background: white;
    padding: 0 20px;
  }
  
  .feature-heading-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(220,53,69,1) 100%);
    z-index: 1;
    transform: skewY(-6deg);
    transform-origin: bottom left;
  }
  